@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&display=swap');

:root{
    --dark-background: #2F3E46;
    --text: #cad2c5;
    --light-highlight: #dfffe6;
    --dark-highlight: #97b3ab;
    --light-background:#354f52;
}

h1{
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
}
h2{
    color:var(--light-highlight)
}
.container{
    background-color: var(--light-background);
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: var(--dark-background);
    color: var(--text);
}
.header{
    background-color: var(--light-background);
    color: var(--light-highlight);
}
.header__nav-link{
    font-size: 18px;
    color: var(--dark-highlight);
}
.header__nav-link:hover{
    color: var(--light-highlight);
}

a{
    color: var(--dark-highlight); 
}
a:hover{
    color: var(--light-highlight);
}

.main-content__title{
    font-size: 23px;
        font-weight: bold;"
}

.white_box_with_shadow{
    padding: 17px;
    border:1px solid #c4c4c4;
    float:left;
    display:block;
    background: rgba(11, 11, 11, .5);
    box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, .251);
    width: 800px;
    position: relative;
    top: 25px;
    left: 55px;
}
