<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${topic.name}">Document</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <a href="/" class="header__nav-link">Home</a>
            <a href="/hashtag/allHashtags" class="header__nav-link">All Hashtags</a>
            <a href="/topics" class="header__nav-link">All Topics</a>
        </nav>
    </header>
    <main class="main-content">
        <br><br>
        <section class="main-content__topic topic" style="position: relative; left: 25px;">
            <h2 th:text="'Topic: ' + ${topic.name}" class="topic__title main-content__title">
                Topic
            </h2>

            <br>
            Posts: <ul>
            <span th:each="onePost:${allPostsForThisTopic}">
                <li><a th:text="${onePost.title} + ', by ' + ${onePost.author}" th:href="'/posts/'+${onePost.id}"></a></li>
            </span></ul>
                <br>
                <div class="box_with_shadow">
                    <form th:action="@{/posts/addPost}" method="POST" modelAttribute="ADDPOST">
                        <label>Add a New Post for This Topic: </label><br>
                        <br>

                        Title: <br>
                        <input type="text" name="newPostTitle"><br>
                        <br>

                        Author: <br>
                        <input type="text" name="newPostAuthor"><br>
                        <br>

                        Content: <br>
                        <textarea type="text" rows="5" cols="100" name="newPostContent"></textarea><br>
                        <br>

                        Hashtags: <br>
                        <textarea type="text" rows="2" cols="100" name="newPostHashtags"></textarea><br>
                        <br>

                        <input name="id" th:value="${topic.id}" type="hidden">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
</div>
</body>

</html>