<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.title}">Document</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>

<!-- 1. Add an HTML form to add a hashtag to the post you are viewing-->

    <div class="container">
        <header class="header">
            <h1 class="header__title">Surviving Coding Boot Camp</h1>
            <nav class="header__nav">
                <a href="/" class="header__nav-link">Home</a>
                <a href="/hashtag/allHashtags" class="header__nav-link">All Hashtags</a>
                <a href="/topics" class="header__nav-link">All Topics</a>
            </nav>
        </header>
        <main class="main-content">
            <section class="main-content__post post">
                <div class="box_with_shadow">
                    <h3 class="post__topic-title main-content__topic-title"><a th:text="'Topic: '+${post.topic.name}" th:href="'/topics/'+${post.topic.id}" class="main-content__topic-link post__topic-link">Topic</a></h3>
                    <br>
                    <h2 th:text="'Title: ' + ${post.title}" class="post__title main-content__topic-title">Post Title</h2>
                    <br>
                    <h3 th:text="'Author: ' + ${post.author}"></h3>
                    <br>
                    <p th:text="'Content: ' + ${post.content}" class="post__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque blanditiis, aut quae fuga id quis ut.
                        Eligendi necessitatibus blanditiis officia, odio deleniti natus molestiae fugiat ex quod vel aliquam illum.
                    </p>
                    <br>
                    <span class="reviewDetailsFormatting">This Post's Hashtags: </span>
                    <span th:each="oneHashtag:${post.thisPostsHashtags}">
                        <a class="reviewDetailsFormatting"
                           th:text="' #'+${oneHashtag.hashtagName}"
                           th:href="'/hashtag/'+${oneHashtag.id}">ListOfHashtags</a>
                        &nbsp;
                    </span>

                    <br><br>
                    <form  th:action="@{/addHashtag}" method="POST" action="addHashtag" modelAttribute="ADDHASHTAG">
                        <label>Add Hashtags: </label><br>
                        <textarea name="newHashtagsToAdd" cols="25" rows="3"></textarea><br>
                        <input th:name="id" th:value="${post.id}" type="hidden">
                        <button type="submit">Submit</button>

                    </form>

                </div>
            </section>
        </main>
    </div>

</body>

</html>